<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hobby.pluginlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.hobby.viewplugin.permission.NEWS_SDK_BROADCAST"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hobby.viewplugin.permission.NEWS_SDK_BROADCAST" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.hobby.pluginlib.sample.PluginHostActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hobby.viewplugin.HOST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.hobby.pluginlib.sample.PluginHostMultiTabActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hobby.viewplugin.MULTI_TAB_HOST_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.hobby.pluginlib.selector.DynamicActivity" />

    </application>

</manifest>
